body {
 margin: 0;
 padding: 0;
}

nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #fff6d8;
 padding: 15px;
 color: #720f0f;
}

.nav__one {
 display: flex;
 align-items: center;
 
}

.nav__one>img {
 margin-right: 20px;
}

.nav__bottom {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-family: Arial, Helvetica, sans-serif;
}

.bottom__first {
 display: flex;
 align-items: center;
}

.bottom__first> img {
 height: 80px;
}

.bottom__first > ul {
 display: flex;
}

.bottom__first>ul>li {
 list-style: none;
 margin-left: 20px;
}

.bottom__second {
 display: flex;
 align-items: center;
}

.second__icon {
 display: flex;
 align-items: center;
 margin-right: 20px;
}

.second__icon>p {
 margin-left: 20px;
}
.intro__all {
 display: flex;
}
.intro {
 background: #a40f0f;
 width: 30%;
 color: #ffffff;
 height: 400px;
 display: flex;
 justify-content: center;
 /* align-items: center; */
 flex-direction: column;
 padding: 30px;
}
/* .intro__contents {
 text-align: center;
} */
.intro__contents >h1 {
 font-weight: 600;
 font-size: 73px;
 margin: 0;
 padding: 0;
 
 /* line-height: 76px; */
 letter-spacing: -0.02em;

}

.intro > button {
 width: 237px;
 height: 76px;
 background: #FFF6B9;
 color: #a40f0f;
 display: flex;
 justify-content: center;
 align-items: center;
 border:1px solid #fff6d8;
}

.intro__imgs {
 display: flex;
 align-items: center;
 background: #fff6d8;
 flex: 1;
}

.intro__imgs>img {
 margin-right: 10px;
 max-width: 400px;
 height:  400px;
}

/* best sellers style */

.best__sellers {
 padding: 10px;
}
.best__sellers > p {
 text-transform: uppercase;
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 /* line-height: 76px; */
 letter-spacing: 0.19em;
 color: #A40F0F;
 margin: 0;
}

.best__sellers > h2 {
 text-transform: capitalize;
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 40px;
 /* line-height: 76px; */
 letter-spacing: -0.02em;
 margin: 0;
}