body {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #fff6d8;
 padding: 15px;
 color: #720f0f;
}

.nav__one {
 display: flex;
 align-items: center;
 
}

.nav__one>img {
 margin-right: 20px;
}

.nav__bottom {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-family: Arial, Helvetica, sans-serif;
}

.bottom__first {
 display: flex;
 align-items: center;
}

.bottom__first> img {
 height: 80px;
}

.bottom__first > ul {
 display: flex;
}

.bottom__first>ul>li {
 list-style: none;
 margin-left: 20px;
}

.bottom__second {
 display: flex;
 align-items: center;
}

.second__icon {
 display: flex;
 align-items: center;
 margin-right: 20px;
}

.second__icon>p {
 margin-left: 20px;
}
.intro__all {
 display: flex;
}
.intro {
 background: #a40f0f;
 color: #ffffff;
 height: 400px;
 display: flex;
 justify-content: center;
 /* align-items: center; */
 flex-direction: column;
 padding: 30px;
}
/* .intro__contents {
 text-align: center;
} */
.intro__contents >h1 {
 font-weight: 600;
 font-size: 73px;
 margin: 0;
 padding: 0;
 font-family: 'Times New Roman', Times, serif;
 /* line-height: 76px; */
 letter-spacing: -0.02em;

}

.intro > button {
 width: 237px;
 height: 76px;
 background: #FFF6B9;
 color: #a40f0f;
 display: flex;
 justify-content: center;
 align-items: center;
 border:1px solid #fff6d8;
}

.intro__imgs {
 display: flex;
 align-items: center;
 background: #fff6d8;
 flex: 1;
 overflow-x: scroll;
}

.intro__imgs::-webkit-scrollbar {
 display: none;
}

.intro__imgs>img {
 margin-right: 10px;
 max-width: 400px;
 height:  400px;
}

/* best sellers style */

.best__sellers {
 padding: 10px;

}
.best__sellers > p {
 text-transform: uppercase;
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 /* line-height: 76px; */
 letter-spacing: 0.19em;
 color: #A40F0F;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.best__sellers > h2 {
 text-transform: capitalize;
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 40px;
 /* line-height: 76px; */
 letter-spacing: -0.02em;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.best__sellers_imgs {
 display: flex;
 flex-wrap: wrap;
 /* flex-direction: column; */
 justify-content: center;
 align-items: center;
 padding: 50px;
}



.img_three {
 display: flex;
 flex-direction: column;
 margin-bottom: 6px;
 /* justify-content: space-between; */
}

/* our prducts style */
.our__products  {
  margin-bottom: 20px;
}

.testimonial>p,
.trending__products>p,
.our__products>p {
 text-transform: uppercase;
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 /* line-height: 76px; */
 letter-spacing: 0.19em;
 color: #A40F0F;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.testimonial>h2,
.trending__products>h2,
.our__products>h2 {
 text-transform: capitalize;
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 40px;
 /* line-height: 76px; */
 letter-spacing: -0.02em;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.all__products {
 display: flex;
 flex-wrap:  wrap;
 justify-content: space-evenly;
 padding: 30px;

}

.product__details {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 max-width: 350px;
 margin: 20px 0;
}

.product__details > img {
 width: 260px;
 height: 260px;
}

.product__details > h2 {
 text-align: center;
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 letter-spacing: -0.02em;
 margin: 5px;
}

.product__details > h2 {
 font-family: 'Figtree';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 letter-spacing: -0.02em;
 margin: 5px;
}

.product__details > button {
 width: 193px;
 height: 63px;
 background: #A40F0F;
 color: #ffffff;
 border: 1px solid #A40F0F;
 font-size: 20px;
 font-weight: 500;
}

.see_all {
 display: flex;
 justify-content: center;
 align-items: center;
}

.see_all>button {
 width: 180px;
 height: 50px;
 background: #ffffff;
 color: #A40F0F;
 border: 1px solid #A40F0F;
 font-size: 20px;
 font-weight: 500;
}

.see_all>button:hover {
  background:#A40F0F ;
   color: #ffffff;
}

/* video section */
.video__section {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 30px;
}
.video-controls {
 width: 80vw;
  height: 300px;
}
.video-controls > video {
 width: 100%;
 height: 300px;
 object-fit: cover;
}


/* testimonial styling */
.testimonial {
 padding: 30px;
}


.testimonial_item>img {
 height: 350px;
}

.rev_person {
 display: flex;
 align-items: center;
}

.rev_person>img {
 margin-right: 10px;
}

.review {
 background: #FFF2C7;
 padding: 40px;
}

.rev_btns {
 display: flex;
 width: 100px;
 justify-content: center;
}

.rev_btns>button {
 width: 51px;
 height: 51px;
 left: 0px;
 top: 0px;
 background: #A40F0F;
 border: 1px solid #A40F0F;
 margin: 0;
}

/* footer styling */
footer {
 padding: 20px;
 background: #A40F0F;
 color: #ffffff;
}

footer>p{
 text-align: center;
}

/* preloader */
.preloader {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: var(--clr-white);
 display: grid;
 justify-content: center;
 align-items: center;
 visibility: visible;
 z-index: 999;
 transition: var(--transition);
}

.hide-preloader {
 z-index: -999;
 visibility: hidden;
}

@media screen and (min-width: 320px) {
  .bottom__first> ul {
    display: none;
  }
  /* .bottom__second {
    display: none;
  } */

  .img_one>img,
  .img_two>img,
  .img_three>img {
    width: 300px;
    margin: 5px;
  }

  .testimonial_item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
    flex-direction: column;
  }

  .intro__all {
    display: flex;
    flex-direction: column;
  }

  .best__sellers_imgs {
    flex-wrap: wrap;
  }

  nav> p {
    display: none;
  }

  .nav__one>p {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .img_one>img,
  .img_two>img,
  .img_three>img {
    width: 400px;
    margin: 5px;
  }

  .testimonial_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .intro__all {
    display: flex;
    flex-direction: row;
  }

  .testimonial_item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
    flex-direction: row;
  }
  .intro {
    width: 30%;
  }

  .intro__contents>h1 {
    font-weight: 600;
    font-size: 63px;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 76px; */
    letter-spacing: -0.02em;
  }

  nav>p {
    display: block;
  }

  .nav__one>p {
    font-size: initial;
  }
}

@media screen and (min-width: 1024px){
  .best__sellers_imgs{
    flex-wrap: nowrap;
  }

  .intro__contents>h1 {
    font-weight: 600;
    font-size: 73px;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 76px; */
    letter-spacing: -0.02em;
  }
}

